<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simondahan.smartdeliveryv1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_smart_delivery"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomePageActivity"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PlanPageActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".DroneNotAvailableActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ChoixSalleActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".DroneArriveActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".SuiviCommandePlanActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="com.example.simondahan.smartdeliveryv1.ARRIVEEDRONE"/>
            </intent-filter>-->
        </activity>

        <activity android:name=".ConfirmationDroneActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>